<div class="text-layout">
    <h1>DecimalPipe y Porcentaje</h1>
    <p>Pipes incluiods en Angular - Usualmente en el CommonModule</p>
</div>

<div class="grid">
    <div class="col-4">
        <p-card header="Ventas Netas"
                subheader="del presente año">
                <i class="pi pi-dollar"></i>
                <!-- el argumento '1.2-2' significa lo siguiente:
                    . = esto simplemento separa los valores de los argumentos uno de otro
                    1 = que se muestren todos los enteros
                    2-2 = que se muestren dos decimales completos, si en caso estuviese 2-4 diria que muestre de 2 a 4 de ser necesario -->
            {{ (ventasNetas + 1_000_000) | number:'1.2-2' }}
        </p-card>
    </div>

    <div class="col-4">
        <p-card header="Ventas Brutas"
                subheader="del presente año">
            {{ (ventasNetas + 2_000_000) | currency:'USD':'symbol-narrow' }}
        </p-card>
    </div>

    <div class="col-4">
        <p-card header="Ganancia porcentual"
                subheader="del presente año">
            {{ porcentaje | percent:'2.2-2' }}
        </p-card>
    </div>
</div>