<div class="text-layout">
    <h1>Pipes Básicos</h1>
    <p>Pipes incluiods en Angular - Usualmente en el CommonModule</p>
</div>

<div class="grid">
    <div class="col-4">
        <p-card header="uppercase"
                [subheader]="nombreLower | uppercase">
            {{ nombreLower | uppercase }}
        </p-card>
    </div>
    <div class="col-4">
        <p-card header="lowercase" 
                [subheader]="nombreUpper | lowercase">
            {{ nombreUpper | lowercase }}
        </p-card>
    </div>
    <div class="col-4">
        <p-card header="titlecase" 
                [subheader]="nombreCompleto | titlecase">
            {{ nombreCompleto | titlecase }}
        </p-card>
    </div>
</div>

<div class="text-layout">
    <h1>Date | Fecha | Pipe</h1>
    <p>Pipe para mostrar las fechas</p>
</div>

<div class="grid">
    <div class="col-6">
        <p-card>
            <ul>
                <li> fecha </li>
                <li> fecha | date </li>
                <li> fecha | date:'short' </li>
                <li> fecha | date:'long' </li>
                <li> fecha | date:'EEEE dd MMMM yyyy' </li>
            </ul>

            <hr />
            <ul>
                <li> fecha | date:'long':'GMT-6':'es-SV' </li>
                <li> fecha | date:'long':'GMT-7' </li>
                <li> fecha | date:'long':'':'fr' </li>
            </ul>
        </p-card>
    </div>
    <div class="col-6">
        <p-card>
            <ul>
                <li> {{ fecha }} </li>
                <li> {{ fecha | date }} </li>
                <li> {{ fecha | date:'short' }} </li>
                <li> {{ fecha | date:'long' }} </li>
                <li> {{ fecha | date:'EEEE dd MMMM yyyy' }} </li>
            </ul>

            <hr />
            <ul>
                <li> {{ fecha | date:'long':'GMT-6':'es-SV' }} </li>
                <li> {{ fecha | date:'long':'GMT-7' }} </li>
                <li> {{ fecha | date:'long':'':'fr' }} </li>
            </ul>
        </p-card>
    </div>
</div>