<div class="text-layout">
    <h1>Pipes no tan comunes</h1>
    <p>Pipes incluidos en Angular - Usualmente en el CommonModule</p>
</div>

<div class="grid">
    <div class="col md:col-6">
        <p-fieldset legend="I18nSelect Pipe" [toggleable]="true">
            <p>Saludos {{ nombre }}, es un placer {{ genero | i18nSelect:invitacionMapa }} a nuestro evento</p>
            <button pButton icon="pi pi-trash" 
                class="p-button-help" 
                label="Cambiar Persona"
                (click)="cambiarCliente()">
            </button>
        </p-fieldset>
    </div>

    <div class="col md:col-6">
        <p-fieldset legend="I18nPlural Pipe" [toggleable]="true">
            <p>Actualmente {{ clientes.length | i18nPlural:clientesMapa }}</p>
            <button pButton icon="pi pi-trash" 
                class="p-button-danger" 
                label="Borrar Cliente"
                (click)="borrarCliente()"></button>
        </p-fieldset>
    </div>

    <div class="col md:col-6">
        <p-fieldset legend="KeyValue Pipe" [toggleable]="true">
            <b>Original</b>
            <pre>{{ clientes }}</pre>

            <b>Slice:0:2</b>
            <pre>{{ clientes | slice:0:2 }}</pre>

            <b>Slice:1:2</b>
            <pre>{{ clientes | slice:1:3 }}</pre>

            <b>Slice:0:2</b>
            <pre>{{ clientes | slice:3:4 }}</pre>
        </p-fieldset>
    </div>

    <div class="col md:col-6">
        <p-fieldset legend="I18nPlural Pipe" [toggleable]="true">
            <ul>
                <li *ngFor="let item of persona | keyvalue">
                    <b>{{ item.key | titlecase }}:</b> {{ item.value }}
                </li>
            </ul>
        </p-fieldset>
    </div>

    <div class="col md:col-6">
        <p-fieldset legend="Json Pipe" [toggleable]="true">
           <pre>{{ persona | json }}</pre>
        </p-fieldset>
    </div>

    <div class="col md:col-6">
        <p-fieldset legend="Async Pipe" [toggleable]="true">
           <pre>{{ miObservable | async }}</pre>
           <pre *ngIf="!(valorPromesa | async)">Resolviendo promesa</pre>
           <pre>{{ valorPromesa | async }}</pre>
        </p-fieldset>
    </div>
</div>