<div class="text-layout">
    <h1>Pipes personalizados</h1>
    <p>Pipes creados por {{ 'nosotros' | mayusculas:enMayusculas }}</p>

   
</div>

<p-toolbar>
    <div class="p-toolbar-group-left">
    </div>
    
    <div class="p-toolbar-group-right">
        <p-button 
            (onClick)="cambiarMayusculas()" 
            styleClass="mr-1 p-button-warning" 
            label="Toggle Mayúscula"></p-button>

        <p-button 
            icon="pi pi-sort"
            label="Por nombre"
            styleClass="mr-1"
            (onClick)="cambiarOrden('nombre')"></p-button>

        <p-button 
            icon="pi pi-sort"
            label="Vuela"
            styleClass="mr-1 p-button-success"
            (onClick)="cambiarOrden('vuela')"></p-button>

        <p-button 
            icon="pi pi-sort"
            label="Por color"
            styleClass="mr-1 p-button-help"
            (onClick)="cambiarOrden('color')"></p-button>
    </div>
</p-toolbar>

<div class="grid">
    <div class="col-12 mt-2">
        <p-table [value]="heroes | ordenar:ordenarPor" [tableStyle]="{'min-width': '50rem'}">
            <ng-template pTemplate="header">
                <tr>
                    <th>Nombre</th>
                    <th>Vuela</th>
                    <th>Color</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-heroe>
                <tr>                    
                    <td>{{ heroe.nombre }}</td>
                    <td>{{ heroe.vuela | vuela | titlecase }}</td>
                    <td>{{ heroe.color }}</td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>

<div class="grid">
    <div class="col-12 mt-2">
        <p-table [value]="heroes | slice:0" [tableStyle]="{'min-width': '50rem'}">
            <ng-template pTemplate="header">
                <tr>
                    <th pSortableColumn="nombre">Nombre <p-sortIcon field="nombre"></p-sortIcon></th>
                    <th pSortableColumn="vuela">Vuela <p-sortIcon field="vuela"></p-sortIcon></th>
                    <th pSortableColumn="color">Color <p-sortIcon field="color"></p-sortIcon></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-heroe>
                <tr>
                    <td>{{ heroe.nombre }}</td>
                    <td>{{ heroe.vuela | vuela | titlecase }}</td>
                    <td>{{ heroe.color }}</td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>